{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}{{ breadcrumb }}{% endblock %}

{% block html_body %}
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
                </ol>
            </div>
        </div>
        <form method='post' action='{% url 'report_save' %}'>
            <div class="input-group mb-3">
                {{ column_form }}
                {% csrf_token %}
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit">Добавить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
