{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}Главная{% endblock %}

{% block html_body %}
    <br />
    <div class="container-fluid">
        <div class="card-columns">
            {% for report in report_list %}
	            <div class="shadow card border-dark mb-3">
		            <div class="card-body">
		                <h5 class="card-title">{{ report.TitleShort }}</h5>
		                <p class="card-text">{{ report.TitleLong }}</p>
		            </div>
                    <div class="card-footer text-muted">
                        {% if request.user.is_superuser %}
                            <a href="{% url 'report_view' report.id %}" class="btn btn-warning">Перейти</a>
                            <a href="{% url 'report_edit' report.id %}" class="btn btn-info">Редактировать</a>
                            {% if report.Published %}<a href="{% url 'report_publish' report.id %}" class="btn btn-warning">Снять с публикации</a>{% endif %}
                            {% if not report.Published %}<a href="{% url 'report_publish' report.id %}" class="btn btn-success">Опубликовать</a>{% endif %}
                        {% else %}
                            <a href="{% url 'report_view' report.id %}" class="btn btn-warning">Перейти</a>
                        {% endif %}
                    </div>
	            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
