{% extends "base.html" %}
{% load i18n %}{% load static %}

{% block html_title %}Главная{% endblock %}
{% block html_body %}
    <div class="container-fluid">
        <div class="card-columns">
            {% for report in report_list %}
	            <div class="shadow card border-dark mb-3">
		            <div class="card-body">
		                <h5 class="card-title">{{ report.TitleShort }}</h5>
		                <p class="card-text">{{ report.TitleLong }}</p>
		            </div>
                    <div class="card-footer text-muted">
                        {% if request.user.is_superuser %}
                            <div class="row">
                                <div class="col-auto mr-auto">
                                    <a href="{% url 'report_show_total' report.id %}" class="btn btn-info"><i class="fas fa-eye"></i> Перейти</a>
                                </div>
                                <div class="col-auto">
                                    <a href="{% url 'report_edit' report.id %}" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Редактировать</a>
                                    {% if report.Published %}
                                        <a href="{% url 'report_publish' report.id %}" class="btn btn-outline-danger">Снять с публикации</a>
                                    {% else %}
                                        <a href="{% url 'report_publish' report.id %}" class="btn btn-success">Опубликовать</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <a href="{% url 'report_show' report.id %}" class="btn btn-info">Перейти</a>
                        {% endif %}
                    </div>
	            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
