{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}{{ breadcrumb }}{% endblock %}

{% block html_body %}
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
                </ol>
            </div>
            <div class="col-auto">
                {% if request.user.is_superuser %}
                    <a class="btn btn-outline-info" href="{% url 'report_download' report.id %}" role="button"><i class="fas fa-download"></i> Скачать</a>
                    <a class="btn btn-outline-info" href="{% url 'report_edit' report.id %}" role="button"><i class="fas fa-edit"></i> Редактировать</a>
                {% endif %}
            </div>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h5>{{ report.TitleLong }}</h5>
            <table class="table table-hover table-sm table-bordered">
                <thead class="bg-info text-white">
                    {% autoescape off %}{{ report.Header }}{% endautoescape %}
                    <tr>
                        <td><small>1</small></td>
                        {% for column in column_list %}
                            <td><small>{{ forloop.counter|add:1 }}</small></td>
                        {% endfor %}
                        <td><small>#</small></td>
                    </tr>
                </thead>
                {% for owner, count, cells, line in data_list %}
                    <tr>
                        <td>
                            {% if count > 1 %}
                                <button class="btn btn-link p-0" id="czn{{ owner.id }}" type="submit">{{ owner.get_full_name }}</button>
                            {% else %}
                                {{ owner.get_full_name }}
                            {% endif %}
                        </td>
                        {% for cell in cells %}
                            <td class="text-right">{% ifequal cell.ColumnID.TypeData 1 %}{{ cell.Value|floatformat:2 }}{% else %}{{ cell.Value }}{% endifequal %}</td>
                        {% endfor %}
                        <td><span title="{{ line.CreateDate }}">{{ line.CreateDate|date:"d.m.Y" }}</span></td>
                    </tr>
                    <tbody class="czn{{ owner.id }}">
                    </tbody>
                    <script>
                        var czn{{ owner.id }}view = false;
                        $(document).ready(function () {
                            $('#czn{{ owner.id }}').click(function () {
                                if(czn{{ owner.id }}view) {
                                    czn{{ owner.id }}view = false;
                                    $('.czn{{ owner.id }}').empty();

                                } else {
                                    czn{{ owner.id }}view = true;
                                    $.get(($(location).attr('href')), {czn: {{ owner.id }} }, function(data) {
                                        $('.czn{{ owner.id }}').append(data);
                                    });
                                }
                            });
                        });
                    </script>
                {% endfor %}
                <tbody>
                    <tr>
                        <td>Итого:</td>
                        {% for total in total_list %}
                            <td class="text-right">{{ total|floatformat:2 }}</td>
                        {% endfor %}
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
