{% for line, cells in table %}
    {% if not forloop.first %}
        <tr>
            <td></td>
            {%  for cell in cells %}
                <td class="text-right">{% ifequal cell.ColumnID.TypeData 1 %}{{ cell.Value|floatformat:2 }}{% else %}{{ cell.Value }}{% endifequal %}</td>
            {% endfor %}
            <td class="d-flex flex-nowrap">
                <span title="{{ line.CreateDate }}">{{ line.CreateDate|date:"d.m.Y" }}</span>&nbsp;
                {% if not request.user.is_superuser %}
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#ModalDelete{{ line.id }}" title="Удалить строку"><span class="fas fa-eraser" style="color: #ff6b6b;"></span></button>
                    <!-- Modal -->
                    <div class="modal fade" id="ModalDelete{{ line.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalDeleteTitle">Удаление строки данных</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">Вы действительно хотите удалить выбранную строку?</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Не удалять</button>
                                    <a class="btn btn-danger" href="{% url 'line_delete' line.id %}" role="button">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endfor %}
