{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}{{ breadcrumb }}{% endblock %}

{% block html_body %}
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
                </ol>
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-warning" href="{% url 'report_edit' report.id %}" role="button">Редактировать</a>
            </div>
        </div>
        <h2>{{ report.TitleLong }}</h2>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Наименование ответственного</th>
                    {% for column in column_list %}
                        <th scope="col">{{ column.Title }}</th>
                    {% endfor %}
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{% firstof user.get_full_name user.get_short_name user.get_username %}</th>
                    {% for column in column_list %}
                        <td>{{ column.id }}</td>
                    {% endfor %}
                    <td>{% csrf_token %}<button class="btn btn-success" type="submit">Сохранить</button></td>
                </tr>
                <tr>
                    <th scope="row">Итого:</th>
                    {% for column in column_list %}
                        <td>1</td>
                    {% endfor %}
                    <td></td>
                </tr>
                <tr>
                    <form method='post' action='{% url 'cell_save' report.id %}'>
                        <th scope="row">{% firstof user.get_full_name user.get_short_name user.get_username %}</th>
                        {% for column in column_list %}
                            <td><input type="text" class="form-control" name="column{{ column.id }}"></td>
                        {% endfor %}
                        <td>{% csrf_token %}<button class="btn btn-success" type="submit">Сохранить</button></td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
