{% extends "base.html" %}
{% load i18n %}{% load static %}

{% block html_title %}{{ breadcrumb }}{% endblock %}

{% block html_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
                </ol>
            </div>
            <div class="col-auto">
                {% if request.user.is_superuser %}
                    <a class="btn btn-outline-info" href="{% url 'report_download' report.id %}" role="button"><i class="fas fa-download"></i> Скачать</a>
                    <a class="btn btn-outline-secondary" href="{% url 'report_edit' report.id %}" role="button"><i class="fas fa-edit"></i> Редактировать</a>
                {% endif %}
            </div>
        </div>
        <div class="mb-5 bg-white rounded">
            <h5>{{ report.TitleLong }}</h5>
            <table class="table table-hover table-sm table-bordered">
                <thead class="bg-info text-white">
                    {% autoescape off %}{{ report.Header }}{% endautoescape %}
                </thead>
                <tr class="table-secondary">
                    <td><small>1</small></td>
                    {% for column in column_list %}
                        <td{% if column.Color > 0 %} class="bg-{{ column.get_Color_display }}"{% endif %}><small>{{ forloop.counter|add:1 }}</small></td>
                    {% endfor %}
                    <td><small>#</small></td>
                </tr>
                {% for owner, count, cells, line in data_list %}
                    <tr>
                        <td>
                            {% if count > 1 %}
                                <button class="btn btn-link p-0 text-left" id="czn{{ owner.id }}">{{ owner.get_full_name }}</button>
                            {% else %}
                                {{ owner.get_full_name }}
                            {% endif %}
                        </td>
                        {% for cell in cells %}
                            {% if cell.ColumnID.TypeData == 1 %}
                                <td class="text-right{% if cell.ColumnID.Color > 0 %} table-{{ cell.ColumnID.get_Color_display }}{% endif %}">{{ cell.Value|floatformat:2 }}</td>
                            {% else %}
                                <td class="text-left{% if cell.ColumnID.Color > 0 %} table-{{ cell.ColumnID.get_Color_display }}{% endif %}">{{ cell.Value }}</td>
                            {% endif %}
                        {% endfor %}
                        <td><span title="{{ line.CreateDate }}">{{ line.CreateDate|date:"d.m.y" }}</span></td>
                    </tr>
                    <tbody id="czn{{ owner.id }}show"></tbody>
                    <script type="text/javascript">
                        var czn{{ owner.id }}view = false;
                        $(document).ready(function () {
                            $('#czn{{ owner.id }}').click(function () {
                                if(czn{{ owner.id }}view) {
                                    czn{{ owner.id }}view = false;
                                    $('#czn{{ owner.id }}show').empty();
                                } else {
                                    czn{{ owner.id }}view = true;
                                    $.get(($(location).attr('href')), {czn: {{ owner.id }} }, function(data) {
                                        $('#czn{{ owner.id }}show').append(data);
                                    });
                                }
                            });
                        });
                    </script>
                {% endfor %}
                <tbody>
                <tr class="table-secondary">
                    <td>Итого:</td>
                    {% for column in column_list %}
                        <td class="text-right">{{ column.TotalValue|floatformat:2 }}</td>
                    {% endfor %}
                    <td><a class="btn btn-sm btn-outline-success" href="{% url 'report_total_count' report.id %}" role="button">Пересчитать</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
