{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}{{ breadcrumb }}{% endblock %}

{% block html_body %}
    <br />
    <script>
        $(document).ready(function() {
            $('[id=numeric]').bind("change keyup input click", function() {if (this.value.match(/[^0-9\.]/g)) {this.value = this.value.replace(/[^0-9\.]/g, '');}});
        });
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
                </ol>
            </div>
            <div class="col-auto">
                {% if request.user.is_superuser %}
                    <a class="btn btn-outline-info" href="{% url 'report_edit' report.id %}" role="button">Редактировать</a>
                {% endif %}
            </div>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h5>{{ report.TitleLong }}</h5>
            <table class="table table-hover table-sm table-bordered">
                <thead class="bg-info text-white">
                    {% autoescape off %}{{ report.Header }}{% endautoescape %}
                    <tr>
                        <td>1</td>
                        {% for column in column_list %}
                            <td>{{ forloop.counter|add:1 }}</td>
                        {% endfor %}
                        <td>#</td>
                    </tr>
                </thead>
                {% for lines in line_list %}
                    {% for line in lines %}
                        {% if forloop.first %}
                            <tbody>
                                <tr>
                                    {% for cell in line %}
                                        {% if forloop.first %}
                                            <th scope="row">{{ cell.Owner.get_full_name }}</th>
                                        {% endif %}
                                        <td>{{ cell.Value }}</td>
                                        {% if forloop.last %}
                                            <td><a data-toggle="collapse" href="#collapse{{ cell.Owner.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ cell.Owner.id }}">{{ cell.CreateDate }}</a></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                        {% else %}
                            {% with line|first as line_zero %}
                                <tbody id="collapse{{ line_zero.Owner.id }}" class="collapse">
                                    <tr>
                                        {% for cell in line %}
                                            {% if forloop.first %}
                                                <td></td>
                                            {% endif %}
                                            <td>{{ cell.Value }}</td>
                                            {% if forloop.last %}
                                                <td>{{ cell.CreateDate }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <tbody>
                    <tr>
                        <td>Итого:</td>
                        {% for total in total_line %}
                            <td>{{ total }}</td>
                        {% endfor %}
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
