{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}{{ breadcrumb }}{% endblock %}

{% block html_body %}
    <br />
    <script>
        $(document).ready(function() {
            $('[id=numeric]').bind("change keyup input click", function() {
                if (this.value.match(/[^0-9\,]/g)) {
                    this.value = this.value.replace(/[^0-9\,]/g, '');
                }
            });
        });
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
                </ol>
            </div>
            <div class="col-auto">
                {% if request.user.is_superuser %}
                    <a class="btn btn-outline-info" href="{% url 'report_edit' report.id %}" role="button">Редактировать</a>
                {% endif %}
            </div>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h5>{{ report.TitleLong }}</h5>
            <table class="table table-hover table-sm table-bordered">
                <thead class="bg-info text-white">
                    {% autoescape off %}{{ report.Header }}{% endautoescape %}
                    <tr>
                        <td><small>1</small></td>
                        {% for column in column_list %}
                            <td><small>{{ forloop.counter|add:1 }}</small></td>
                        {% endfor %}
                        <td><small>#</small></td>
                    </tr>
                </thead>
                {% for owner, count, cells, line in data_list %}
                    <tr>
                        <td>
                            {% if count > 1 %}
                                <button class="btn btn-link p-0" id="czn{{ owner.id }}" type="submit">{{ owner.get_full_name }}</button>
                            {% else %}
                                {{ owner.get_full_name }}
                            {% endif %}
                        </td>
                        {% for cell in cells %}
                            <td class="text-right">{{ cell.Value|floatformat:2 }}</td>
                        {% endfor %}
                        <td class="d-flex flex-nowrap">
                            <span title="{{ line.CreateDate }}">{{ line.CreateDate|date:"d.m.Y" }}</span>&nbsp;
                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#ModalDelete{{ line.id }}" title="Удалить строку"><span class="fas fa-eraser" style="color: #ff6b6b;"></span></button>
                            <!-- Modal -->
                            <div class="modal fade" id="ModalDelete{{ line.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalDeleteTitle">Удаление строки данных</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Вы действительно хотите удалить выбранную строку?</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Не удалять</button>
                                            <a class="btn btn-danger" href="{% url 'line_delete' line.id %}" role="button">Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Modal -->
                        </td>
                    </tr>
                    <!-- Вывод истории -->
                    <tbody class="czn{{ owner.id }}">
                    </tbody>
                    <!-- /Вывод истории -->
                    <script>
                        var pathname = $(location).attr('href');
                        var czn{{ owner.id }}view = false;
                        $(document).ready(function () {
                            $('#czn{{ owner.id }}').click(function () {
                                if(czn{{ owner.id }}view) {
                                    czn{{ owner.id }}view = false;
                                    $('.czn{{ owner.id }}').empty();

                                } else {
                                    czn{{ owner.id }}view = true;
                                    $.get(($(location).attr('href')), {czn: {{ owner.id }} }, function(data) {
                                        $('.czn{{ owner.id }}').append(data);
                                    });
                                }
                            });
                        });
                    </script>
                    <tbody>
                    <tr>
                        <form method='post' action='{% url 'cells_save' report.id %}'>
                            <td>Добавить значения:</td>
                            {% for cell in cells %}
                                <td><input type="text" class="form-control text-right" name="column{{ cell.ColumnID.id }}" {% ifequal cell.ColumnID.TypeData 1 %}id="numeric"{% endifequal %} value="{{ cell.Value|floatformat:2 }}" required></td>
                            {% endfor %}
                            <td><button class="btn btn-success" type="submit">Сохранить</button></td>
                            {% csrf_token %}
                        </form>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

        <div class="shadow p-3 mb-5 bg-white rounded">
            <table class="table table-hover table-sm table-bordered">
            </table>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                При вводе чисел необходимо отделять десятичную часть <strong>запятой</strong>. <br />
                При нажатии на название центра занятости отобразится <strong>история внесения данных</strong>. <br />
                Возле даты создания строки размещена кнопка <strong>удаления данной строки</strong> (используйте внимательно).
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
