{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}Главная{% endblock %}

{% block html_body %}
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
                </ol>
            </div>
        </div>
        <div class="card-columns">
            {% for report in report_list %}
	            <div class="shadow card border-dark mb-3">
		            <div class="card-body">
		                <h5 class="card-title">{{ report.TitleShort }}</h5>
		                <p class="card-text">{{ report.TitleLong }}</p>
		            </div>
                    <div class="card-footer text-muted">
                        {% if report.Published %}<a href="{% url 'report_publish' report.id %}" class="btn btn-warning">Снять с публикации</a>{% endif %}
                        {% if not report.Published %}<a href="{% url 'report_publish' report.id %}" class="btn btn-success">Опубликовать</a>{% endif %}
                        <a href="{% url 'report_edit' report.id %}" class="btn btn-info">Редактировать</a>
                    </div>
	            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
